name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      env:
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        DJANGO_ALLOWED_HOSTS: ${{ secrets.DJANGO_ALLOWED_HOSTS }}
        EMAIL_SMTP_HOST: ${{ secrets.EMAIL_SMTP_HOST }}
        EMAIL_SMTP_PORT: ${{ secrets.EMAIL_SMTP_PORT }}
        SYSTEM_EMAIL_HOST_USER: ${{ secrets.SYSTEM_EMAIL_HOST_USER }}
        SYSTEM_EMAIL_HOST_PASSWORD: ${{ secrets.SYSTEM_EMAIL_HOST_PASSWORD }}
      run: |
        python manage.py test
